@font-face {
	font-family: 'MaliRegular';
	src: url('/MaliRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MRegular';
	src: url('/MRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
