@font-face {
	font-family: 'MaliRegular';
	src: url('/MaliRegular.ttf') format('truetype'), url('/MaliRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MRegular';
	src: url('/MRegular.ttf') format('truetype'), url('/MRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
